<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.1.xsd 
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.1.xsd">

 
	<bean id="avaliacaoRepositorio" class="br.ufg.inf.apsi.escola.componentes.acd.repositorio.jpa.hibernate.AvaliacaoRepositoryImpl" >
		<property name="entityManagerFactory">
			<ref local="entityManagerFactory"/>
		</property>
	</bean>
		
	<bean id="formAvaliacaoRepositorio" class="br.ufg.inf.apsi.escola.componentes.acd.repositorio.jpa.hibernate.FormAvaliacaoRepositoryImpl" >
		<property name="entityManagerFactory">
			<ref local="entityManagerFactory"/>
		</property>
	</bean>

	<bean id="avaliacaoDocenteHandler"
		class="br.ufg.inf.apsi.escola.componentes.acd.negocio.bean.AvaliacaoDocenteHandlerImpl">
		<constructor-arg index="0"
			ref="br.ufg.inf.apsi.escola.componentes.acd.repositorio.jpa.hibernate.AvaliacaoRepositoryImpl" />
		<constructor-arg index="1"
			ref="br.ufg.inf.apsi.escola.componentes.acd.repositorio.jpa.hibernate.FormAvaliacaoRepositoryImpl" />
	</bean>

	<bean id="avaliacaoDocenteService" class="br.ufg.inf.apsi.escola.componentes.acd.servico.local.LocalAvaliacaoDocenteService">
		<constructor-arg ref="avaliacaoDocenteHandler" />
	</bean>


	<!-- Managed Beans --> 
	<bean id="avaliacaoBean" class="br.ufg.inf.apsi.escola.ui.jsf.managedbeans.AvaliacaoBean" scope="session"/>
	<bean id="formAvaliacaoBean" class="br.ufg.inf.apsi.escola.ui.jsf.managedbeans.FormAvaliacaoBean" scope="session"/>


	<!--     ACESSO A BASE DE DADOS HSQLDB	-->

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url" value="jdbc:hsqldb:hsql://localhost/escola" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"
				rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<!-- Configuracoes AOP para controle transacional -->
	<aop:config>
		<aop:pointcut id="serviceOperation"
			expression="execution(* br.ufg.inf.apsi.escola.componentes.*.servico.*.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="serviceOperation" />
	</aop:config>

	<!-- Bean responsavel pelo gerenciamento de transacoes -->
	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory"
			ref="entityManagerFactory" />
	</bean>

	<!-- Entity Manager, responsavel pela intermediarioo entre banco e aplicacao -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="database" value="HSQL" />
			</bean>
		</property>
	</bean>

	<!-- Bean gerenciador de cache do Spring -->
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />

	<!-- Cache do Spring para armazenamento de dados -->
	<bean id="userCacheBackend"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<property name="cacheManager">
			<ref local="cacheManager" />
		</property>
		<property name="cacheName">
			<value>userCache</value>
		</property>
	</bean>

</beans>
