.geral{
    border: 1px solid #2555A9;
    height: 285px; 
    left: 20px; 
    top: 140px; 
    position: absolute; 
    width: 400px
}

.cabecalho{
   height: 25px;
   background: #2555A9;
   color: #FFFFFF;
   font-weight : bold;
   text-align: center
}

.rodape{
    height: 25px;
    text-align: center;
    font-style: italic;
    color: Snow;
    background: #2555A9;
}

.impar{
    height: 25px;
    text-align: left;
    background: #D1DCEE;
}

.par{
    height: 25px;
    text-align: left;
    background: #FFFFFF;
}

.botao{
  border-style : groove;
}