<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<import resource="acegi-security.xml" />
	<import resource="managedbeans-ca.xml" />

	<!-- Configurações dos objetos do Spring -->

	<!--     Usuario      -->

	<bean id="localUsuarioService"
		class="br.ufg.inf.apsi.escola.componentes.ca.servico.local.LocalUsuarioService">
		<constructor-arg ref="usuarioNegocio" />
	</bean>

	<bean id="usuarioNegocio"
		class="br.ufg.inf.apsi.escola.componentes.ca.negocio.bean.UsuarioNegocioBean">
		<constructor-arg ref="usuarioRepositorio" />
		<constructor-arg ref="pessoaService" />
		<constructor-arg ref="emailService" />
	</bean>

	<bean id="usuarioRepositorio"
		class="br.ufg.inf.apsi.escola.componentes.ca.repositorio.jpa.hibernate.UsuarioRepositoryImpl">
		<property name="entityManagerFactory">
			<ref local="entityManagerFactory" />
		</property>
	</bean>

	<!--     Aluno, Docente, Secretario      -->

	<bean id="alunoService"
		class="br.ufg.inf.apsi.escola.componentes.admc.servico.local.LocalAlunoService">
	</bean>

	<bean id="docenteService"
		class="br.ufg.inf.apsi.escola.componentes.admc.servico.local.LocalDocenteService">
	</bean>

	<bean id="secretarioService"
		class="br.ufg.inf.apsi.escola.componentes.admc.servico.local.LocalSecretarioService">
	</bean>

	<!--     Pessoa      -->

	<bean id="pessoaService"
		class="br.ufg.inf.apsi.escola.componentes.pfj.servico.local.LocalPessoaService">
	</bean>

	<!--     E-mail     -->

	<bean id="emailService"
		class="br.ufg.inf.apsi.escola.ie.email.EmailServiceImpl">
	</bean>

	<!-- Para o HSQLDB-->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.hsqldb.jdbcDriver" />
		<property name="url"
			value="jdbc:hsqldb:hsql://localhost/escola" />
		<property name="username" value="sa" />
		<property name="password" value="" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory"
			ref="entityManagerFactory" />
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />

		<property name="jpaVendorAdapter">
			<bean id="vendor"
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="database" value="HSQL" />
			</bean>
		</property>
	</bean>

	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED"
				rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="serviceOperation"
			expression="execution(* br.ufg.inf.apsi.escola.componentes.*.servico.*.*Service.*(..))" />
		<aop:advisor advice-ref="txAdvice"
			pointcut-ref="serviceOperation" />
	</aop:config>

</beans>