<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
       
    <!--                                                            Configurações dos objetos da aplicação                                                                      -->    
    
                        <!--                                                            Pessoa                                                                      -->
    <bean id="pessoaRepositorio" class="br.ufg.inf.apsi.escola.componentes.pessoa.repositorio.jpa.hibernate.HibernatePessoaRepositorio" >
        <property name="entityManagerFactory">
            <ref local="entityManagerFactory"/>
        </property>
    </bean>
        
    <bean id="pessoaNegocio" class="br.ufg.inf.apsi.escola.componentes.pessoa.negocio.bean.PessoaNegocioBean">
        <constructor-arg ref="pessoaRepositorio"/>
    </bean>
    
    <bean id="localPessoaService" class="br.ufg.inf.apsi.escola.componentes.pessoa.servico.local.LocalPessoaService">
        <constructor-arg ref="pessoaNegocio"/>
    </bean>
    
                        <!--                                                            Usuario                                                                      -->
    <bean id="usuarioRepositorio" class="br.ufg.inf.apsi.escola.componentes.usuario.repositorio.jpa.hibernate.HibernateUsuarioRepositorio" >
        <property name="entityManagerFactory">
            <ref local="entityManagerFactory"/>
        </property>
    </bean>
        
    <bean id="usuarioNegocio" class="br.ufg.inf.apsi.escola.componentes.usuario.negocio.bean.UsuarioNegocioBean">
        <constructor-arg ref="usuarioRepositorio"/>
    </bean>
    
    <bean id="localUsuarioService" class="br.ufg.inf.apsi.escola.componentes.usuario.servico.local.LocalUsuarioService">
        <constructor-arg ref="usuarioNegocio"/>
    </bean>
    
    					<!--                                                            Autorizacao                                                                      -->
    <bean id="autorizacaoRepositorio" class="br.ufg.inf.apsi.escola.componentes.autorizacao.repositorio.jpa.hibernate.HibernateAutorizacaoRepositorio" >
        <property name="entityManagerFactory">
            <ref local="entityManagerFactory"/>
        </property>
    </bean>
    
    <bean id="autorizacaoNegocio" class="br.ufg.inf.apsi.escola.componentes.autorizacao.negocio.bean.AutorizacaoNegocioBean">
        <constructor-arg ref="autorizacaoRepositorio"/>
    </bean>
    
    <bean id="localAutorizacaoService" class="br.ufg.inf.apsi.escola.componentes.autorizacao.servico.local.LocalAutorizacaoService">
        <constructor-arg ref="autorizacaoNegocio"/>
    </bean>
    
    <!-- Configurações dos objetos do Spring -->
            
    <!-- Para o HBSQL-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.hsqldb.jdbcDriver"/>
        <property name="url" value="jdbc:hsqldb:hsql://localhost/escola"/>        
        <property name="username" value="sa"/>
        <property name="password" value=""/>
    </bean>
    
    <!-- Para o Tomcat-->
    <!--
    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName">
            <value>java:comp/env/jdbc/escolaDataSource</value>
        </property>        
    </bean>
    -->
    
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
	    <tx:attributes>			
	      	<tx:method name="*" propagation="REQUIRED" rollback-for="Exception"/>
	    </tx:attributes>
	</tx:advice>
    
  	<aop:config>
    	<aop:pointcut id="serviceOperation" expression="execution(* br.ufg.inf.apsi.escola.componentes.*.servico.*.*Service.*(..))"/>
	    <aop:advisor advice-ref="txAdvice" pointcut-ref="serviceOperation"/>
	</aop:config>
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
         <property name="dataSource" ref="dataSource" />
         
         <property name="jpaVendorAdapter">
             <bean id="vendor" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true"/>
                <property name="generateDdl" value="true"/>
                <property name="database" value="HSQL" />
             </bean>
         </property>                 
     </bean>
         
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>        
    
    <!--                                        Autenticação com ACEGI                                          -->
        
    <bean id="acegiFilterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
        <property name="filterInvocationDefinitionSource">
            <value>
                CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
                PATTERN_TYPE_APACHE_ANT
                /**=httpSessionContextIntegrationFilter,securityRequestFilter,exceptionTranslationFilter,filterSecurityInterceptor
            </value>
        </property>
    </bean>
    
    <bean id="httpSessionContextIntegrationFilter" class="org.acegisecurity.context.HttpSessionContextIntegrationFilter">
        <property name="context">
            <value>org.acegisecurity.context.SecurityContextImpl</value>
        </property>
    </bean>
    
    <bean id="securityRequestFilter" class="org.acegisecurity.wrapper.SecurityContextHolderAwareRequestFilter" />
    
    <bean id="exceptionTranslationFilter" class="org.acegisecurity.ui.ExceptionTranslationFilter">
        <property name="authenticationEntryPoint">
            <bean id="entry" class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
                <property name="loginFormUrl">
                    <value>/Login.jsf</value>
                </property>
                <property name="forceHttps"><value>false</value></property>
            </bean>
        </property>
        <property name="accessDeniedHandler">
            <bean id="handler" class="org.acegisecurity.ui.AccessDeniedHandlerImpl">
                <property name="errorPage">
                    <value>/acessoNegado.jsf</value>
                </property>
            </bean>
        </property>
    </bean>
    
    <bean id="filterSecurityInterceptor" class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
        <property name="authenticationManager"><ref bean="authenticationManager"/></property>
        <property name="accessDecisionManager">            
            <bean id="base" class="org.acegisecurity.vote.AffirmativeBased">
                <property name="decisionVoters">
                    <list>
                        <bean id="role" class="org.acegisecurity.vote.RoleVoter">
                            <property name="rolePrefix">
                                <value></value>
                            </property>
                        </bean>
                        <bean id="Authenticated" class="org.acegisecurity.vote.AuthenticatedVoter" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="objectDefinitionSource">
            <value>
                CONVERT_URL_TO_UPPERCASE_BEFORE_COMPARISON
                PATTERN_TYPE_APACHE_ANT
                /faces/**=ADMIN, USER
                /faces/ManterPessoa.jsp=ADMIN
                /faces/ManterPessoa.jsp=ADMIN, USER
            </value>
        </property>
    </bean> 

    <!-- AuthenticationController -->
    <bean id="authenticationController" class="exemploescola.AuthenticationController">
        <property name="authenticationManager"><ref bean="authenticationManager"/></property>
    </bean>
    
    <bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager">
        <property name="providers">            
            <list>
                <ref bean="daoAuthenticationProvider"/>
            </list>                
        </property >
    </bean>            

   <bean id="autenticadorUsuario" class="br.ufg.inf.apsi.escola.ie.acegi.AutenticadorUsuario">
        <constructor-arg ref="localUsuarioService"/>
        <constructor-arg ref="localAutorizacaoService"/>
    </bean>

   <bean id="passwordEncoder" class="br.ufg.inf.apsi.escola.ie.acegi.EncodificadorPassword"/>

   <bean id="daoAuthenticationProvider" class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
      <property name="userDetailsService"><ref local="autenticadorUsuario"/></property>
      <property name="userCache"><ref local="userCache"/></property>
      <property name="passwordEncoder"><ref local="passwordEncoder"/></property>
   </bean>
    
   <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"/>
    
   <bean id="userCacheBackend" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
      <property name="cacheManager">
         <ref local="cacheManager"/>
      </property>
      <property name="cacheName">
         <value>userCache</value>
      </property>
   </bean>
   
   <bean id="userCache" class="org.acegisecurity.providers.dao.cache.EhCacheBasedUserCache">
      <property name="cache"><ref local="userCacheBackend"/></property>
   </bean>   
</beans>